/app/

**/node_modules/

.vscode/

/application/DB-data/DB

**/build/

/application/services/wallet

/app-chain/fablo-target

**/venv/

**/__pycache__/

/generated-appkeys

/qdrant

test/**/*.csv
test/**/*.json
